body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  overflow-x: hidden;
}
@media only screen and (max-width: 768px) {
  main{
    padding-inline: 0px !important;
  }
}

/* canvas,header{
  background-color: #9D805F !important;
}
body,main{
  background-color: black !important;
} */