body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
main{
  overflow-x: hidden;
}
@media only screen and (max-width: 768px) {
  main{
    padding-inline: 0px !important;
  }
}

/* canvas,header{
  background-color: #9D805F !important;
}
body,main{
  background-color: black !important;
} */
.d-flex{
  display: flex;
  justify-content: space-between;
}
.first_chart{
  position: relative;
  padding-top: 40px !important;
}
.month_filters{
/* max-width: 400px; */
min-width: 400px;
color: gray;
display: flex;justify-content: center;align-items: center;
/* position: absolute;
 top: 10px; 
right: 100px; */
}
.month_filters p{
  padding-inline: 5px;
  border-right: 1px solid gray !important;
}
.fitler_status{
  padding-inline: 5px;
  display: flex;
  align-items: center;

}
.justify-content-between{
  justify-content: space-between;
}
canvas{
  min-height: 400px !important;
}
.export-excel a{
  color: white;
  background-color:#354B62;
  text-decoration: unset;
  box-shadow: "unset";
  margin-inline: "10px";padding: 10px;
  border-radius: 5px;
}
.export-excel a:hover{
  color: white;
  background-color: #9D805F;
  text-decoration: unset;
  box-shadow: "unset";
  margin-inline: "10px";padding: 10px;
  border-radius: 5px;
}